<h1>Configuration tools</h1>

<%= link_to 'Generate new nagios configuration file', :controller => "tools", :action => "generate_configuration" %>
<br>
<%= link_to 'Download nagios configuration file', "data/generated_objects.conf" %>
