    body { background-color: #000; color: #999; }

    body, p, ol, ul, td {
      font-family: verdana, arial, helvetica, sans-serif;
      font-size:   13px;
      line-height: 18px;
    }

    pre {
      background-color: #111;
      padding: 10px;
      font-size: 11px;
    }

    a { color: #aaa; }
    a:visited { color: #1111; }
    a:hover { color: #444; background-color:#000; }
