<h1>New command</h1>

<% form_for(:command, @command, :url => { :action => "create" }) do |f| %>
<p>
    <b>command_name</b><br />
    <%= f.text_field :command_name %>
</p>
<p>
    <b>command_line</b><br />
    <%= f.text_field :command_line %>
</p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', commands_path %>
